@import "../mixin";

.admin_index_container {
	width: 1700px;
	height: 100vh;
	margin: 0 auto;
	background-color: $admin-index-background-color;

	.admin_index_section {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.admin_index_left_container {
			width: 20%;
			height: 100vh;			
			background-color: $admin-index-background-color;

			.admin_index_left_info_section {
				width: 100%;
				height: 100px;
				margin-top: 50px;

				.admin_index_left_info_title_area {
					color: $bookpick-main-color;
					margin: 0 10px;
				}

				.admin_index_left_info_name_area {
					width: 100%;
				}
			}

			.admin_index_left_search_section {
				width: 100%;
				margin: 20px 0;
				display: flex;
				justify-content: center;
				align-items: center;

				.admin_index_left_search_input {
					width: 70%;
					height: 40px;
					margin: auto;
					padding: 4px;
					outline: none;
					background-color: transparent;
					border-bottom: 1px solid transparent;

					&:focus {
						border-bottom: 1px solid $layout-background-color;
						transition: 0.8s;
					}
				}
			}
		}

		.admin_index_left_nav_section {
			width: 100%;
			height: 50px;
			line-height: 50px;
			padding: 10px 40px;

			.admin_index_left_nav_ul {
				width: 100%;

				.admin_index_left_nav_li {
					width: 100%;
					margin-bottom: 50px;

					.admin_index_left_nav_a {
						width: 100%;
						display: flex;
						align-items: center;
						
						svg {
							margin-right: 10px;
						}
					}

					.admin_index_left_nav_dropdown_a {
						width: 100%;
						display: flex;
						align-items: center;
						
						.admin_index_left_nav_dropdown_left_svg {
							margin-right: 10px;
						}

						.admin_index_left_nav_dropdown_right_svg {
							margin-left: auto;
						}
					}

					.admin_index_left_nav_dropdown_ul {
						width: 100%;
						display: block;						
					}
				}
			}
		}

		.admin_index_right_container {
			width: 1300px;
			height: 100vh;
			margin: 0 auto;
			color: $admin-font-color;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			.admin_index_right_top_container {
				width: 1350px;				
				margin: 10px auto;
				display: flex;
				background-color: #fff;

				.admin_index_right_top_logo_section {
					width: 100%;
					img {
						width: 100px;
						height: 60px;
					}
				}

				.admin_index_right_top_button_section {
					svg {
						width: 60px;
						height: 60px;
					}
				}
			}

			.admin_index_right_top_container {
				width: 100%;
				margin-bottom: 10px;
				padding: 20px;
				border-radius: 10px;

				.admin_index_right_top_title_section {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.admin_index_right_top_title_area {
						width: 100%;
						display: flex;
						flex-direction: column;
					}

					a {
						width: 100%;
						display: inline-block;
						width: 80px;
						height: 35px;
						line-height: 35px;
						color: $bookpick-main-color;
						border: 1px solid $bookpick-main-color;
						border-radius: 10px;

						&:hover {
							border: none;
							background-color: $bookpick-main-color;
							color: #fff;
						}
					}
				}					
			}

			.admin_index_right_middle_container {
				width: 100%;
				margin-bottom: 10px;
				display: flex;
				justify-content: center;
				align-items: center;

				.admin_index_right_middle_section {
					width: 100%;
					height: 100px;
					padding: 10px;
					border-radius: 10px;
					background-color: #FFF;

					.admin_index_right_middle_number_of_transactions,
					.admin_index_right_middle_paymont_amount,
					.admin_index_right_middle_register_users {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						svg {
							width: 60px;
							height: 60px;
							margin-left: 20px;
						}

						.admin_index_right_middle_number_of_transactions_text,
						.admin_index_right_middle_paymont_amount_text,
						.admin_index_right_middle_register_users_text {
							width: 100%;
							padding: 20px;
							margin-left: 20px;
						}
					}
				}
			}

			.admin_index_right_bottom_container {
				width: 100%;
				height: 300px;
				border-radius: 10px;
				
				.admin_index_right_bottom_chart_section {
					width: 100%;
					height: 100%;
					margin-bottom: 10px;
					background-color: #fff;
					border-radius: 10px;

					.admin_index_right_bottom_chart_area {
						width: 100%;
						height: 100%;
						padding: 20px;

						.admin_index_right_bottom_chart_image {
							width: 1200px;
							height: 200px;
							margin: 0 auto;
						}
					}
				}
			}

			.admin_index_right_bottom_text_section {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.admin_index_right_bottom_latest_Posts_section,
				.admin_index_right_bottom_notice_section {
					width: 50%;
					height: 200px;
					border-radius: 10px;					
					background-color: #fff;

					.admin_index_right_bottom_latest_Posts_title_area,
					.admin_index_right_bottom_notice_title_area {
						width: 100%;
						padding: 20px;
						display: flex;
						justify-content: space-between;
						align-items: center;

						.admin_index_right_bottom_notice_title_a,
						.admin_index_right_bottom_latest_Posts_title_a {
							display: flex;
						}
					}
				}
			}

			// admin_registration			
			.admin_index_registration_section {
				width: 700px;
				height: 100vh;
				margin: 0 auto;
				padding: 4rem;

				.admin_registration_label {
					margin: 0 80px;
				}
		
				.admin_registration_input_area,
				.admin_registration_button_area {
					width: 100%;
					height: 50px;
					margin: 50px auto;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
		
					label {
						width: 100%;
						margin-left: auto;
						margin-bottom: 10px;                    
					}

					select {
						width: 100%;
						padding: 4px 10px;
						background-color: transparent;
						border-bottom: 2px solid #000;
						transition: 0.5s;

						&:focus {
							outline: none;
							border-bottom: 2px solid $bookpick-main-color;
							transition: 0.8s;                     
						}
					}
		
					.admin_registration_input {
						width: 100%;
						padding: 4px 10px;
						outline: none;
						background-color: transparent;
						border-bottom: 2px solid #000;
						transition: 0.5s;
						
						&:focus {
							border-bottom: 2px solid $bookpick-main-color;
							transition: 0.8s;
						}
					}
				}
		
				.admin_registration_button_area {
					width: 60%;
					height: 50px;
					background-color: $bookpick-main-color;
					color: #FFF;
					border-radius: 25px;
					margin: 80px auto;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: 0.5s;
		
					.admin_registration_button {
						width: 100%;
						height: 50px;				
		
						.admin_registration_button_text_area {
							width: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							
							.admin_registration_button_svg {
								width: 40px;
								height: 40px;
								padding: 4px;
							}
						}	
					}
					
					&:hover {
						transform: scale(1.1);
						transition: 0.3s;
					}
				}				
			}
			// Admin Management(User)
			.admin_auth_user_section {
				width: 1000px;
				margin: 0 auto;
				padding: 5rem 0;

				.admin_user_top_container {
					width: 100%;
					height: 150px;
					line-height: 150px;
				}

				.admin_user_middle_container {
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.user_info_section {
						width: 100%;
					}
					
					.user_button_section {
						width: 100%;

						.user_withdrawal_button {
							width: 50px;
							color: #fff;
							background-color: red;
							border: none;
							border-radius: 20px;
							
							&:hover {
								transform: scale(1.1);
								transition: 0.3s;
							}
						}
					}
				}
			}

			// Admin Management(User)
			.admin_auth_user_section {
				width: 1000px;
				margin: 0 auto;
				padding: 5rem 0;

				.admin_user_top_container {
					width: 100%;
					height: 80px;
					line-height: 150px;
				}

				.admin_user_middle_container {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;					
					border: 1px solid #000;
					border-radius: 20px;

					.admin_user_info_title_section {
						width: 100%;	
						height: 100px;					
						display: flex;
						justify-content: center;
						align-items: center;

						p {
							width: 100%;
							height: 100%;
							line-height: 100px;
							margin: 10px auto;
							border-bottom: 1px solid #000;
						}
					}

					.admin_user_info_content_section {
						width: 100%;
						height: 50px;
						margin: 10px auto;
						display: flex;
						justify-content: center;
						align-items: center;

						.user_info_section {
							width: 100%;
							height: 100%;
							line-height: 50px;

							p {
								width: 100%;
								height: 100%;
								text-decoration: underline;
							}
						}
						
						.user_button_section {
							width: 100%;
	
							.user_auth_area {
								width: 100%;
								height: 60px;
								display: flex;
								justify-content: center;
								align-items: center;
								
								.user_withdrawal_button {
									width: 50px;
									color: #fff;
									background-color: red;
									border: none;
									border-radius: 20px;
	
									&:hover {
										transform: scale(1.1);
										transition: 0.3s;
									}
								}						
							}						
						}
					}					
				}
			}

			// Admin Management(Admin)
			.admin_auth_admin_section {
				width: 1000px;
				margin: 0 auto;
				padding: 5rem 0;

				.admin_admin_top_container {
					width: 100%;
					height: 80px;
					line-height: 150px;
				}

				.admin_admin_middle_container {
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					border: 1px solid #000;
					border-radius: 20px;

					.admin_admin_info_title_section {
						width: 100%;	
						height: 100px;					
						display: flex;
						justify-content: center;
						align-items: center;

						p {
							width: 100%;
							height: 100%;
							line-height: 100px;
							margin: 10px auto;
							border-bottom: 1px solid #000;
						}
					}

					.admin_admin_info_content_section {
						width: 100%;
						height: 50px;
						margin: 10px auto;
						display: flex;
						justify-content: center;
						align-items: center;

						.admin_info_section {
							width: 100%;
							height: 100%;
							line-height: 50px;

							p {
								width: 100%;
								height: 100%;
								text-decoration: underline;
							}
						}
						
						.admin_button_section {
							width: 100%;
	
							.admin_auth_area {
								width: 100%;
								height: 60px;
								display: flex;
								justify-content: center;
								align-items: center;
	
								select {
									width: 100px;

									&:focus {
										outline: none;              
									}
								}							
	
								.admin_withdrawal_button {
									width: 50px;
									color: #fff;
									background-color: red;
									border: none;
									border-radius: 20px;
	
									&:hover {
										transform: scale(1.1);
										transition: 0.3s;
									}
								}						
							}						
						}
					}					
				}
			}
		}
	}
}