@import "../mixin";

@include mobile {
	.user_login_section {
		width: 95%;
		font-family: sans-serif;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	
		.user_login_title_section {
			width: 95%;
			margin: 80px auto;
			display: flex;
            flex-direction: column;
			justify-content: flex-start;
			align-items: center;
	
			.user_login_title {
				color: $bookpick-main-color;
			}
		}
		
		.user_login_left_section {
			width: 95%;
			height: 600px;
			border: 3px solid $layout-background-color;
			border-radius: 10px;
	
			.user_login_label {
				margin: 0 80px;
			}
	
			.user_login_input_area,
			.user_login_button_area {
				width: 75%;
				height: 50px;
				margin: 0 auto 30px auto;
				display: flex;
				justify-content: center;
				align-items: center;
	
				.user_login_input_svg {
					width: 40px;
					height: 40px;
					padding: 4px;
				}
	
				.user_login_input {
					width: 75%;
					padding: 4px;
					outline: none;
					border-bottom: 3px solid $layout-background-color;
					transition: 0.5s;
					
					&:focus {
						border-bottom: 3px solid $bookpick-main-color;
						transition: 0.8s;
					}
				}
			}
	
			.user_login_button_area {
				width: 50%;
				height: 50px;
				background-color: $bookpick-main-color;
				color: #FFF;
				border-radius: 25px;
				margin: 80px auto;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.5s;
	
				.user_login_button {
					width: 100%;
					height: 50px;				
	
					.user_login_button_text_area {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						
						.user_login_button_svg {
							width: 40px;
							height: 40px;
							padding: 4px;
						}
					}	
				}
				
				&:hover {
					transform: scale(1.1);
					transition: 0.3s;
				}
			}
		}
	
		.user_login_right_section {
			display: none;
		}
	}
}
	
@include tablet {
	.user_login_section {
		width: 95%;
		font-family: sans-serif;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	
		.user_login_title_section {
			width: 95%;
			margin: 80px auto;
			display: flex;
            flex-direction: column;
			justify-content: flex-start;
			align-items: center;
	
			.user_login_title {
				color: $bookpick-main-color;
			}
		}
		
		.user_login_left_section {
			width: 45%;
			height: 600px;
			border: 3px solid $layout-background-color;
			border-radius: 10px 0 0 10px;
			border-right: none;
	
			.user_login_label {
				margin: 0 80px;
			}
	
			.user_login_input_area,
			.user_login_button_area {
				width: 75%;
				height: 50px;
				margin: 0 auto 30px auto;
				display: flex;
				justify-content: center;
				align-items: center;
	
				.user_login_input_svg {
					width: 40px;
					height: 40px;
					padding: 4px;
				}
	
				.user_login_input {
					width: 75%;
					padding: 4px;
					outline: none;
					border-bottom: 3px solid $layout-background-color;
					transition: 0.5s;
					
					&:focus {
						border-bottom: 3px solid $bookpick-main-color;
						transition: 0.8s;
					}
				}
			}
	
			.user_login_button_area {
				width: 55%;
				height: 50px;
				background-color: $bookpick-main-color;
				color: #FFF;
				border-radius: 25px;
				margin: 80px auto;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.5s;
	
				.user_login_button {
					width: 100%;
					height: 50px;				
	
					.user_login_button_text_area {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						
						.user_login_button_svg {
							width: 40px;
							height: 40px;
							padding: 4px;
						}
					}	
				}
				
				&:hover {
					transform: scale(1.1);
					transition: 0.3s;
				}
			}
		}
	
		.user_login_right_section {
			width: 50%;
			height: 600px;
			border: 3px solid $layout-background-color;
			border-radius: 0 10px 10px 0;
			border-left: none;
			
			.user_login_image {
				width: 100%;
				height: 594px;
				object-fit: cover;
				border-radius: 10px;
			}
		}
	}
}
	
@include desktop {
	.user_login_section {
		width: 1000px;
		font-family: sans-serif;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	
		.user_login_title_section {
			width: 100%;
			margin: 70px auto;
			display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
	
			.user_login_title {
                width: 70%;
				color: $bookpick-main-color;
			}
		}
		
		.user_login_left_section {
			width: 50%;
			height: 600px;
	
			.user_login_label {
				margin: 0 80px;
			}
	
			.user_login_input_area,
			.user_login_button_area {
				width: 80%;
				height: 50px;
				margin: 0 auto 30px auto;
				display: flex;
				justify-content: center;
				align-items: center;
	
				.user_login_input_svg {
					width: 40px;
					height: 40px;
					padding: 4px;
				}
	
				.user_login_input {
					width: 80%;
					padding: 4px;
					outline: none;
					border-bottom: 3px solid $layout-background-color;
					transition: 0.5s;
					
					&:focus {
						border-bottom: 3px solid $bookpick-main-color;
						transition: 0.8s;
					}
				}
			}
	
			.user_login_button_area {
				width: 60%;
				height: 50px;
				background-color: $bookpick-main-color;
				color: #FFF;
				border-radius: 25px;
				margin: 80px auto;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: 0.5s;
	
				.user_login_button {
					width: 100%;
					height: 50px;				
	
					.user_login_button_text_area {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						
						.user_login_button_svg {
							width: 40px;
							height: 40px;
							padding: 4px;
						}
					}	
				}
				
				&:hover {
					transform: scale(1.1);
					transition: 0.3s;
				}
			}
		}
        
        .user_login_register {
            width: 100%;
            color: $bookpick-main-color;
        }
	}
}