// ### 미디어쿼리 브레이크포인트 ###
$breakpoint-mobile: 335px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// ### 변수 저장용 ###
$layout-background-color: #ededed;
$main-font-color: #0B2161;
// login X
$logo-one-main-color: #0B4AFF;
// login X
$logo-two-main-color: #C5DFFF;
// login X
$main-background-color: #C5DFFF;
// login X
$admin-index-background-color: #EFF3F8;
// login X
$admin-font-color: #666666;
// login X
$bookpick-main-color: #4dac27